[2020-08-11 08:01] SebastienBtr opened #1 "Question: Why portal"
I was wondering why this package needs `flutter_portal`, which requires additional configuration from the user, wasn't it possible to use the native ModalBottomSheet?

[code]

[2020-08-11 08:24] fayeed commented on #1
The reason for using this instead of just `ModalBottomSheet` is that the `ListContainer` needs to be either attached to the top or bottom of the Input. Using the `ModalBottomSheet` this would have not been possible.

Initial I just used `CompositedTransformFollower` & `CompositedTransformTarget` to show suggestions to the user, and it worked really great when the List was attached to the bottom of

[2020-08-11 08:46] SebastienBtr commented on #1
Thanks for the explanation :)

[2020-08-11 08:46] #1 closed

[2020-08-26 12:40] Gursewak-Uppal opened #4 "Mention suggestions not cleard after clear text"
I tried this plugin but when i cleared all text form Text Input (FlutterMentions) Mention suggestions list is still there. Also when i selected item it gives me error. I think it's work only with trigger (@, #).

Error logs

[code]

[2020-08-28 06:53] fayeed commented on #4
@Gursewak-Uppal Thanks for reporting the issue, I will take a look and let you know, If I can reproduce this.

[2020-08-31 23:27] sarthak290 opened #5 "How to trigger the function with '$' dollor sign."
Hello , I want to ask if there is any way so that I can may trigger value to $ dollar sign.
I have tried many ways but it didn't work error shows bad statement.
Please reply with a solution with which I can make trigger value to $ .
I want output to be like $microsoft .

[2020-08-31 23:30] sarthak290 opened #6 "Cursor moves to first position after adding a space after a mention call"
Hello , The error is whenever I click a space after mentioning a name like @abc the cursor moves automatically to first position that is to the starting of text field.
Please reply with a solution.

[2020-09-07 04:39] Gursewak-Uppal opened #7 "Mention not working when data load from server"
I used this plugin with Firebase and load user data (id, display name,avatar etc.)  from Firebase and set State every time when record added to list but mention not working when i selected user from list.

[2020-09-08 09:28] krishnakumarcn commented on #6
In my case cursor moving to the first position after selecting a mentioned item from the list.
this happens only on android. On ios its working fine.

Any updates on this issue?

[2020-09-08 09:35] sarthak290 commented on #6
@krishnakumarcn yes same happen with me

[2020-09-08 10:32] krishnakumarcn commented on #6
Created a PR for resolving this issue. [#8 ](https://github.com/fayeed/flutter_mentions/pull/8)

[2020-09-09 03:12] fayeed commented on #6
I just published a new version for the package `0.1.2`, thanks @krishnakumarcn for the PR, I will close this issue.

[2020-09-09 03:12] #6 closed

[2020-09-09 03:22] fayeed commented on #5
@sarthak290 I think the issue is due to the fact that `$` inside quotes are used for string composition, that could be the cause of the issue. I would suggest avoiding using the `$` symbol for now.

[2020-09-09 03:24] fayeed commented on #4
@Gursewak-Uppal I was not able to reproduce this issue if you can explain in more detail what you did that would be great help.

[2020-09-09 03:36] fayeed commented on #7
@Gursewak-Uppal The problem is the package doesn't support Streams & once the data is passed to `FlutterMention` it doesn't change later, the reason it behaves this way was for my use-case I had all user you can mention at the start. I do plan to add this functionality later but cannot give a date.

[2020-09-09 03:44] sarthak290 commented on #5
Please suggest a workaround I really need $ symbol

[2020-09-10 02:56] fayeed commented on #5
@sarthak290 To allow the use of dollar sign in the package I will have to convert all the text string to raw string that should fix the issue, other than that there is no other temporary solution. You can create a PR for this.

[2020-09-10 10:59] krishnakumarcn opened #9 "Mention list is not showing on @ at 0th position of the textfield"
One possible fix I could find is that Im showing below:

I don't know if this will break your logic somewhere else. Could you please look into it?

[code]
@fayeed

[2020-09-11 06:02] sarthak290 commented on #5
Okay I will create a PR . Just tell me where I have to do the changes in mention_view.dart file right?

[2020-09-12 12:14] fayeed commented on #9
@krishnakumarcn Thanks for this will take a look a this later.

[2020-09-19 06:58] #9 closed

[2020-09-19 07:01] fayeed commented on #9
@krishnakumarcn The issue this line: `if (cursorPos - 1 > 0)` I was checking up to position 1 don't know why I did that, just needed to change  to `if (cursorPos  >= 0) {`. Fix is in version `0.1.3`.

[2020-09-20 15:50] NeoLSN opened #10 "How to let the suggestion list on the center position?"
If there is any other UI aside, the portal will be tilting.
Could you let the suggestion list always be on the screen center?
![image](https://user-images.githubusercontent.com/5782106/93715342-49824c00-fb9b-11ea-81cd-954e1438f56c.png)

[2020-09-21 03:15] fayeed commented on #10
@NeoLSN Thanks for reporting the issue I will take a look.

[2020-09-21 06:19] NeoLSN opened #11 "Provide a way to customize markup text"
We need a way to build our own markup text because we'll need to recognize those markups in the [flutter_parsed_text](https://pub.dev/packages/flutter_parsed_text) widget.

[2020-09-22 11:40] JEuler opened #12 "Rich Text Editing"
Hi! Great stuff! Do you have plans to support basic RichText editing like adding bold or etc to you plugin? Can I try to like an integrate your code to the existing Zefyr? https://pub.dev/packages/zefyr

[2020-09-23 09:07] JEuler opened #13 "Clear text field"
How I can clear text field after onEditingComplete callback? Setting `defaultText` not working

[2020-09-23 11:11] fayeed commented on #12
@JEuler Right now I don't plan on adding basic RichText editing features, although it is possible to this in the current implementation might need a fair bit of refactoring of code.

Also, can you explain what do mean by your second question in more detail.

[2020-09-23 11:21] fayeed commented on #13
You could just set a `key` for the `FlutterMention` widget & then just these two ways to clear the field.

1. Using the controller's clear method:
`key.currentState.controller.clear();`

2. Using the controller's text property:
`key.currentState.controller.text = '';`

[2020-09-23 11:28] fayeed commented on #11
I could think of two ways to this the first way is to provide a function something like this:

[code]

or maybe a simple string that needs to have some keywords which I can then replace with their respective values in `FlutterMentions`

Something like this for this, where `[trigger]` will get replaced by the current mention trigger & so on:

[code]

[2020-09-23 17:11] NeoLSN commented on #11
Personally, I prefer the first one, too.
But I think if you can achieve both ways, you could set a priority orders for these.

[2020-09-24 05:18] JEuler commented on #12
Hm, I don't know exactly :D Just looking for some rich text editor with mention functionality.
Maybe I will try to work with your repository and enhance it with richness like bold or italic. Will see.

[2020-09-24 05:19] JEuler commented on #13
Thank you very much!

[2020-09-24 05:19] #13 closed

[2020-09-28 06:23] fayeed commented on #10
@NeoLSN Can you share the code I just tried reproducing this & everything works fine
![Simulator Screen Shot - iPhone X - 2020-09-28 at 11 52 18](https://user-images.githubusercontent.com/8464270/94397262-146c8f80-0181-11eb-9c79-3d12ba4837c0.png)

[2020-09-28 06:24] #4 closed

[2020-09-28 07:33] NeoLSN commented on #10
You need to add another UI on the left or right side of the FlutterMention.

[2020-09-28 08:49] fayeed commented on #10
Yeah i did as you can see from the image  there are two container one on the left and another on the right which both take about 20.0 width and everything works fine on my end.

[2020-09-28 08:58] NeoLSN commented on #10
Can you just do it on one side only?

[2020-09-28 13:53] #7 closed

[2020-09-28 13:53] #11 closed

[2020-09-28 13:55] fayeed commented on #10
@NeoLSN so what I did is I have added two new properties called `leading` & `trailing` both are `List<Widget>`, this should do the trick.

[2020-09-28 13:55] fayeed commented on #10
Also closing the issue.

[2020-09-28 13:55] #10 closed

[2020-09-28 15:15] NeoLSN commented on #10
@fayeed What do you mean? That's just means I can't add other UI aside FlutterMentions...

[2020-09-28 15:23] fayeed commented on #10
@NeoLSN and what is the real issue?

[2020-09-28 15:29] NeoLSN commented on #10
I want to add a button right on the FlutterMentions like bellow codes,
[code]
But the suggestion list will be out of the screen. That's the issue.

[2020-09-28 15:30] fayeed commented on #10
Yeah, and you can do that using the `trailing` widget.

[2020-09-28 15:32] NeoLSN commented on #10
OK, I see.

[2020-09-28 15:33] fayeed commented on #10
Also before commenting on implementation as just a "trick", please take a look at it and try using it.

[2020-09-28 15:34] NeoLSN commented on #10
Yeah, I apologize about this.

[2020-09-29 10:38] #12 closed

[2020-09-29 10:40] JEuler opened #15 "onMarkupChanged and onMentionAdd"
Hi! I'm processing the data (layouting it with html tags) in onMarkupChanged. But I see, that if I'm not typing anything rather than just @ mention the data in onMarkupChanged callback is wrong and contains only @. But If typed anything than all is okay.

![2020-09-29_13-39-52](https://user-images.githubusercontent.com/231950/94548409-56690480-0259-11eb-848d-29c6157b27ea.png)
![2020-09-29_13-40-03

[2020-09-29 10:42] JEuler commented on #15
It is the same if I'm entering two mentions in row.
![2020-09-29_13-42-12](https://user-images.githubusercontent.com/231950/94548580-9c25cd00-0259-11eb-830c-8c41b96fa186.png)
![2020-09-29_13-42-18](https://user-images.githubusercontent.com/231950/94548586-9def9080-0259-11eb-9b5a-2caf3aeba62e.png)

[2020-09-29 11:29] fayeed commented on #15
@JEuler I don't understand exactly can you explain in more detail that would be great!

[2020-09-30 09:39] JEuler commented on #15
Hi! I meant that when you tap on Suggestion (Mention) the `onMarkupChanged` is not firing and nothing is added to the `rawComment` variable I'm defining. So, the problem is that: onMarkupChanged callback is not firing in case we are tapping on the suggestion and it is added to textfield.

[2020-10-01 11:37] JEuler commented on #15
Is that clear now? :)

[2020-10-01 13:25] fayeed commented on #15
Ahh Yes, I will take a look at it, Thanks for the clarification.

[2020-10-02 10:38] nirajjoshi opened #16 "Not able to use flutter_mentions 1.0.1. Error: No named parameter with the name 'autofillHints'."
@fayeed , @erjanmx [
<img width="1287" alt="Screenshot 2020-10-02 at 4 09 15 PM" src="https://user-images.githubusercontent.com/4289654/94915438-89fe9580-04ca-11eb-9d2c-f63f8bea8a9c.png">
](url)
I have added flutter_mentions as a dependency to my pub spec file like:

dependencies:
  flutter:
    sdk: flutter
  **flutter_mentions: ^1.0.1**

Also followed instructions like wrapping MaterialApp under

[2020-10-02 12:21] fayeed commented on #16
@nirajjoshi Not sure what is the problem here, I am using this package in production and hadn't seen see this issue before. Can you tell me whats your flutter SDK version?

[2020-10-02 12:22] nirajjoshi commented on #16
@fayeed :
flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.6 19G73, locale en-GB)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.7)
[✓] Android Studio (version 4.0)
[✓] Connected device (2 available)

• No issues found!

[2020-10-02 12:24] fayeed commented on #16
Maybe you could try updating your Flutter SDK

[2020-10-02 12:39] nirajjoshi commented on #16
Thanks for your quick feedback but can't update flutter version. Upgrading to new version is causing lot's of issues in other dependencies in our project which is huge & using plenty of dependencies.

Flutter version **v1.17.5** is **stable** & not that old. Shouldn't **flutter_mentions** work well with stable flutter v1.17.5?
Can you please check the above error by switching to above flutter vers

[2020-10-02 12:41] fayeed commented on #16
@nirajjoshi Yeah so basically they added `autofillHints` in `1.80.0` I think & that might be the issue.

[2020-10-02 12:44] fayeed commented on #16
As for the fix, I won't be updating the package to fix this so now you have two options:
1. Update to the latest Flutter SDK.
2. Fork this repo & remove that property and start using it using you git URL.

[2020-10-02 12:52] nirajjoshi commented on #16
Thanks @fayeed for help. That makes sense.  Closing the issue.

[2020-10-02 12:52] #16 closed

[2020-10-04 13:50] nirajjoshi opened #17 "Crash when we access markupText when no mentioned entries added."
It crashes on accessing **_key.currentState.controller.markupText_** when we just enter normal text entry to the text field. It should not crash even If we don't add any User mention entries.

[2020-10-05 05:43] JEuler commented on #15
Did you have any chance to look? :)

[2020-10-05 05:43] fayeed commented on #15
@JEuler Gonna look at today

[2020-10-05 05:44] JEuler commented on #15
@fayeed Thank you very very much! 🤗

[2020-10-05 09:46] krishnakumarcn opened #19 "type 'Mention' is not a subtype of type 'bool' after flutter 1.22.0 upgrade"
The following _TypeError was thrown while handling a gesture:
type 'Mention' is not a subtype of type 'bool'

When the exception was thrown, this was the stack:
#0      FlutterMentionsState.addMention (package:flutter_mentions/src/mention_view.dart:292:24)
#1      FlutterMentionsState.build.<anonymous closure> (package:flutter_mentions/src/mention_view.dart:393:19)
#2      OptionList.build.<anonym

[2020-10-05 09:47] krishnakumarcn commented on #19
This can be reproduced from the example project by.
Type @ -> Select any mention items.

[2020-10-05 10:04] #19 closed

[2020-10-05 10:11] fayeed commented on #17
@nirajjoshi I am unable to reproduce this issue.

[2020-10-05 12:04] #15 closed

[2020-10-05 12:07] fayeed commented on #19
@krishnakumarcn fixed in 1.0.2

[2020-10-05 12:08] fayeed commented on #15
@JEuler fixed in v1.0.2

[2020-10-05 12:32] JEuler commented on #15
Insanely cool! Thanks! 🤗

[2020-10-06 12:27] #17 closed

[2020-10-12 07:42] nirajjoshi opened #20 "Crashes when we use Special characters in display name"
@fayeed
Tried to use Example application itself with display name **~|[]{}#%^*+=_\|<>\$£€•.,?!**.

App throws exception like: **_Nothing to repeat(@~|[]{}#%^*+=_|<>$£€•.,?!|@khaled|@markT|@JhonL|#([A-Za-z0-9])*|#reactjs|#javascript)_**

Please refer screenshots for more reference:

<img width="1206" alt="Screenshot 2020-10-12 at 1 08 32 PM" src="https://user-images.githubusercontent.com/4289654/95

[2020-10-13 20:21] zzterrozz commented on #13
@fayeed

Bringing the key in the parent widget creates me this error:
[code]

How can we please access the `key` from a different widget ?

[2020-10-16 08:47] JEuler commented on #20
Yeah, same problem! Any solutions other than just clean special characters? :)

[2020-10-16 08:57] fayeed commented on #20
I think this might be because there is no functionality to escape special characters that could be used in the string like `$`, `|`, etc. Do note, that most symbols should work except a few like `|` which is used as a separator in Regex. If any of you guys can create PR to fix this that would be great, I will eventually fix this but cannot tell when.

[2020-10-16 08:58] fayeed commented on #20
You should also check issue #5 to learn more.

[2020-10-17 06:37] JEuler commented on #20
So, you suggest to convert all used strings in lib to the raw strings, correct?

[2020-10-19 07:27] #20 closed

[2020-10-19 07:28] fayeed commented on #20
@JEuler @nirajjoshi Should be fixed in v1.0.10.

[2020-10-19 12:00] nirajjoshi commented on #20
Thanks.

[2020-10-21 12:43] JEuler opened #21 "HTML tags"
Hi! Is there an easy way to render HTML tags inside your editor?

[2020-10-26 15:38] zzterrozz opened #22 "Access the GlobalKey<FlutterMentionsState> outside of the widget"
Hi @fayeed,

How can I access the `GlobalKey<FlutterMentionsState> _textFormFieldKey = GlobalKey<FlutterMentionsState>();` outside of the widget please ?

I would like to give the key a `TextEditingController` value when initiated & be able to `clear()` its value.

[2020-10-26 16:06] fayeed commented on #22
Check issue #13.

[2020-10-26 16:06] #22 closed

[2020-10-26 16:07] fayeed commented on #21
@JEuler can you elaborate more?

[2020-10-26 16:44] zzterrozz commented on #13
@fayeed

Bringing the key in the parent widget creates me this error:

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
Multiple widgets used the same GlobalKey.

How can we please access the `key` from a different widget ?

[2020-10-27 15:54] JEuler commented on #21
Okay, but a bit later. Thx.

[2020-10-27 20:08] mlars84 opened #23 "Accessing a list of ids that were added as mentions?"
Hey @fayeed! Thanks so much for this tool. It works quite well for my needs aside from one issue... If I want to store the mentioned users by their id's, how can I get just a list of id's from the AnnotationEditingController or elsewhere? Currently the only way I seem to be able to access them is either in a string value or the markupText that spits out something like this:
[code]
It seems less th

[2020-10-27 20:53] mlars84 commented on #23
Ps, in the meantime I am doing this:
[code]
This as I mentioned, is less-than-ideal but does in fact work.

[2020-10-28 03:10] fayeed commented on #23
@mlars84 The reason this is not part of the package is that people can change the markup for the mentions that has a custom markup, because of that keeping a list of mentions on the controller because difficult to manage.

[2020-10-29 15:02] #23 closed

[2020-10-30 02:49] JEuler commented on #21
So, basically, I want to be able to render HTML tags within your text editor. So, If I'm facing text with <strong>Hello</strong>, it will be rendered as HTML text. I'm using this https://pub.dev/packages/flutter_html package to render HTML.

As I understand this is a very complex topic and I should address it by using some kind of RichText editor, like mentioned Zefyr.

Feel free to close. :)

[2020-10-30 10:32] MahdiPishguy opened #24 "AndroidManifest.xml could not be found."
i can't run library sample code

[code]

[2020-10-30 10:34] fayeed commented on #24
You need to run `flutter create .` in the example folder, it says in the error.

[2020-10-30 10:34] #24 closed

[2020-10-30 11:23] #21 closed

[2020-10-30 18:27] zzterrozz opened #25 "Log display issue with package flutter_mentions 1.0.10"
Hi,

For some reason I have some logs displayed in the console with this code :

[code]

Logs:
[code]

How can I please hide these logs ?

cc @fayeed

[2020-10-30 18:28] #25 closed

[2020-10-30 18:59] zzterrozz commented on #25
Edited

[2020-10-30 19:00] zzterrozz opened #26 "Logs display"
Hi,

For some reason I have some logs displayed in the console but can't find any print my code.
[code]

Any idea how to locate these logs or hide them ?
I have tried to look for `print(` but can't find anything

cc @fayeed

[2020-10-30 19:48] zzterrozz commented on #26
I have the same log issue with this simple code :

[code]

Logs on iPhone physical device :
[code]

[2020-10-31 10:40] fayeed commented on #26
@zzterrozz This is being fixed in `v1.0.11`.

[2020-10-31 10:40] #26 closed

[2020-11-01 22:15] bartonhammond opened #27 "no supported devices"
[code]

[2020-11-02 12:46] fayeed commented on #27
Go to the example folder and run `flutter create .`

[2020-11-02 12:46] #27 closed

[2020-11-02 14:18] bartonhammond opened #28 "How to run example"
I did
*  flutter create .
*  flutter run

now what?

![Screen Shot 2020-11-02 at 8 15 43 AM](https://user-images.githubusercontent.com/1282364/97878007-ab2dee00-1ce3-11eb-864b-b295202ed301.png)

[2020-11-02 14:20] fayeed commented on #28
That's it there a TextField below the Get Text Button, you can type some mentions there using `@` and then later press the button to log the markup text.

[2020-11-02 15:03] bartonhammond commented on #28
Ok - thanks
might be worth putting a border around the text field.

[2020-11-02 15:03] #28 closed

[2020-11-02 21:55] mlars84 opened #29 "Is there a good way to dynamically update the defaultText property?"
I'm struggling with updating FlutterMentions' defaultText property. I have no problem when setting it initially, but I am re-using this widget for "Replies" and "Sub-replies" and setting the "reply to" user as an initial mention by passing a "@exampleusername" string to the defaultText property. When I then try to update the defaultText to something else, there is no change applied to FlutterMenti

[2020-11-03 03:17] fayeed commented on #29
You can use the controller, refer to this issue for more details #13

[2020-11-03 17:39] mlars84 commented on #29
Thanks, but when I clear and reset the controller.text directly, the cursor is locked before the first character and will no longer accept user input.
![Screen Shot 2020-11-03 at 11 32 19 AM](https://user-images.githubusercontent.com/25191578/98020289-6cbe2f00-1dc8-11eb-8800-6dd5a2b3d7d9.png)

I'm also getting a `setState() or markNeedsBuild() called during build.` exception when even just calling

[2020-11-12 06:04] nirajjoshi opened #30 "When typed full display name after @ No results appear for user mentions."
Normally it is working fine. Like right after typing initial letters from display name after **@** it starts showing mention results to select. On tapping on mention suggestions it is added to textfield with highlighted color as well.

However there is some issue when we type full display name after @. Like if the display name is **John** then till typing **@Joh** it shows mention result suggestio

[2020-11-12 14:42] mlars84 commented on #30
That is because you have an exact match, which adds that suggestion. If you style the `Mention` widget, it will be a more clear user experience that once you've typed "@jhon" completely or selected it from the suggestions, it has been added. Example:
[code]

[2020-11-12 16:28] nirajjoshi commented on #30
@mlars84  Thanks for reply. This user experience does makes sense but issue is even after typing full name & moving ahead it doesn't get highlighted like it gets highlighted even though **john** is there in data list, when we select from suggestions list.

[2020-11-12 16:37] fayeed commented on #30
@nirajjoshi The way to get around this issue is to store all the list items you query in a temp variable and keep pushing new items to the list, this will keep the mentions working, the reason for not highlighting the typed out mention is that the list won't contain the item

[2020-11-17 09:56] nirajjoshi commented on #30
@fayeed Thanks. I will do that.

[2020-11-18 05:57] aavgeen opened #31 "Multiple mention/tag highlighting not working."
Once you mention a person, it gets highlighted but then, after some time when you start search/mention for another person, the styling for the first mentions gets removed.

[2020-11-19 14:32] fayeed commented on #31
Check this [comment](https://github.com/fayeed/flutter_mentions/issues/30#issuecomment-726191879).

[2020-11-30 01:01] heybriancheung opened #32 "OnMentionAdd is not working"
I have tried your example and added an OnMentionAdd callback

onMentionAdd: (e) {
  print(e);
}

But when I click on the suggestion, nothing happens.

[2020-12-08 12:31] Abacaxi-Nelson commented on #30
Hey could you share what you have done ? Im not understanding what @fayeed advice

[2020-12-08 14:21] Abacaxi-Nelson commented on #6
Hi @fayeed @krishnakumarcn @sarthak290
Is the issue corrected on your side ?
installing last version still move cursor at beginning.

thx, Nelson

[2020-12-08 14:23] Abacaxi-Nelson opened #33 "markupBuilder never called"
Hi all,

Having this code
[code]

markupBuilder is never called, am i missing something ?

thank you,

[2020-12-08 15:14] Abacaxi-Nelson commented on #33
Called when calling key.currentState.controller.markupText

[2020-12-08 15:14] #33 closed

[2020-12-14 05:56] sneha-solutelabs opened #34 "Should able to give end position to suggestionBuilder.for TextInputType multiline."
while using TextInputType multiline and open keyboard. keyboard overlaps with suggestion list. when keyboard opens it should end top of keyboard.
<img width="309" alt="Screenshot 2020-12-14 at 11 13 48 AM" src="https://user-images.githubusercontent.com/72002256/102045435-14367480-3dff-11eb-934e-3406f5acad1c.png">

[2020-12-16 04:41] nirajjoshi commented on #30
@Abacaxi-Nelson As @fayeed already explained all we need to do is make items available in the list we provide (**_allMentionList** in below example code).

[code]

Closing this as I was able to resolve issue using @fayeed 's comments.

[2020-12-16 04:41] #30 closed

[2020-12-21 22:12] zzterrozz commented on #31
Facing the same issue.

I can mention the first item from data `%rlx-day-panda-white-2:rlx-day-panda-white-2` but it if mention also `%rlx-day-panda-white-2:rlx-day-panda-white` then the mention on `%rlx-day-panda-white-2:rlx-day-panda-white-2` is tranformer to a mention to `%rlx-day-panda-white-2:rlx-day-panda-white` with "-2" not included in the mention

[2020-12-22 00:13] tevfik1 commented on #29
@mlars84 were you able to find out how to do it?

[2021-01-05 15:30] mlars84 commented on #29
Not yet. I'll update here when I do though.

[2021-01-26 15:51] brunodelsing opened #35 "Option to change suggestionListWidth"
Is there a way to change the suggestionListWidth? Just like to suggestionListHeight.

[2021-01-26 16:18] #35 closed

[2021-02-03 14:33] andrea-h10 opened #36 "How to only trigger mention if there is a space before the "@" sign"
Currently, the behaviour appears to be that if a user types @andrea - the package automatically turns it into a mention.

However, this means that if a user types email@andrea.com then it also is displayed as a mention. I do not want it to be considered a mention if there is not a space before the @ sign.

How to make it so that a mention is triggered by " @" not simply "@"?

Thank you very much

[2021-02-03 14:34] andrea-h10 opened #37 "How to allow user to scroll through the text written in the text field?"
If a user writes a very long message in the text field, they need to be able to scroll through the text they have written. How can I enable this behaviour?

Thank you very much

[2021-02-03 15:03] Barry0501 opened #38 "Cursor position always show at the start when add new mentions into textfield"
Hi, your package is awesome. Android works perfectly but in IOS, it doesn't work as expected

https://user-images.githubusercontent.com/34902237/106765508-72e3d600-666b-11eb-8059-baa0ea28b0d7.mov

[2021-02-09 14:09] #38 closed

[2021-02-10 09:17] dmba commented on #38
@Barry0501 why was this issue closed without PR merged? Do you know a way to solve it? I am experiencing same issue.

[2021-02-10 13:34] Barry0501 commented on #38
@dmba Yeah I figured out how to solve it. Let me create PR for this issue

[2021-02-10 13:47] dmba commented on #38
@Barry0501 awesome, thank you

[2021-02-11 17:22] #37 closed

[2021-03-10 10:50] bruno-urgo commented on #31
I've the same issue. I've two item in the data list with differents id but with similar text to display, for example 'Some Content' and 'Some Content Two'. I can pick only the first item from suggestion, if i pick on the second it use the first one: after the `markupBuilder` do its work the result in the form field is for example **^^id-1:Some Content^^ Two**

[2021-03-19 12:23] basha97 opened #41 "How to delete the mention after mentioning."

[2021-03-22 09:39] chainchelliah opened #42 "How to detect if mentioned value removed from textarea"
Is it possible to implement onMentionDelete callabck like onMentionAdd.
Or is there any way to find mention got removed.
Thanks

[2021-03-24 18:19] robinwkurtz opened #43 "Unable to pre-fill field with formatted mentions"
Hello, thanks for the library!

When using `defaultText`, the field does not show the formatted mention(s) as expected but the markup text. I've assured that my mention's data has the user previously mentioned.

I've tried with a custom`markupBuilder` and the default one.

Here you can see the `defaultText` not formatted, but that if I add a new mention it works as expected:

https://user-images.g

[2021-03-28 13:36] fayeed commented on #43
@robinwkurtz you don't need to pass the markup text to `defaultText`, you can just pass the normalized text. The reason is the package maintains markup text as an internal data to keep track of the mentions present in the textfield.

[2021-03-28 13:36] #43 closed

[2021-03-28 13:38] fayeed commented on #42
@chainchelliah Use the `markupText` property to get the text field which would include the mentions like `test text @[_id_](_mention_name_)`.

[2021-03-28 13:38] #42 closed

[2021-03-28 13:39] fayeed commented on #41
@basha97 you can use the `markupText` prop to get the text which would include the ids of the users mention you might need to run some regex to find it.

[2021-03-28 13:39] #41 closed

[2021-03-28 13:40] fayeed commented on #36
@andrea-h10 This is a bug, I will add a fix in some time.

[2021-03-28 13:41] fayeed commented on #34
@sneha-solutelabs you can disable the default suggestion list and write your own custom list to handle any behavior.

[2021-03-28 13:41] #34 closed

[2021-04-18 09:36] letungcntt opened #44 "AnnotationEditingController crash when upgrade to flutter 2"
I can't build my app because this error :
`../../flutter/.pub-cache/hosted/pub.dartlang.org/flutter_mentions-2.0.0-nullsafety/lib/src/annotation_editing_controller.dart:58:12: Error: The method 'AnnotationEditingController.buildTextSpan' has fewer named arguments than those of overridden method 'TextEditingController.buildTextSpan'.
  TextSpan buildTextSpan({TextStyle? style, bool? withComposing})

[2021-04-23 10:10] #44 closed

[2021-05-07 14:17] zzterrozz commented on #44
Having the same issue, did you find a solution ?

[2021-05-07 14:17] zzterrozz commented on #44
@letungcntt  Having the same issue, did you find a solution ?

[2021-05-07 14:23] zzterrozz commented on #44
Sure, please let me know what to change in the fork!

[2021-05-07 14:26] letungcntt commented on #44
pls check

[2021-05-07 14:27] zzterrozz commented on #44
I will try that
Thank you for your help and reactivity!

[2021-05-07 14:34] zzterrozz commented on #44
In `flutter_mentions: ^2.0.0-nullsafety`

In `annotation_editing_controller.dart` I already have :
[code]

I see in your fork that you also have kep the same code [https://github.com/letungcntt/flutter_mentions/blob/master/lib/src/annotation_editing_controller.dart](url)

Did you stay on `flutter channel master` ?

[2021-05-07 14:41] zzterrozz commented on #44
@letungcntt

On `channel master`, is it correct to have `TextSpan buildTextSpan({TextStyle? style, bool? withComposing}) {...}` ?

[2021-05-07 14:43] letungcntt commented on #44
@zzterrozz on `channel master` they using `TextSpan buildTextSpan({required BuildContext context, TextStyle? style , required bool withComposing}) {` but pub-get with stable

[2021-05-07 16:17] zzterrozz commented on #44
@letungcntt I just switched back to `flutter channel stable` to fix it for the moment
Thank you for your help

[2021-05-10 10:30] kylas-ankit commented on #32
is it resolved?

[2021-05-11 17:57] andrepo commented on #43
@fayeed I second @robinwkurtz 's point. What if I want to edit an existing text that already contains mentions? If I pass in the sanitized text to `defaultText` the previous mentions are lost. The `AnnotationEditingController` should support a setter for `markuText`

[2021-05-12 04:16] fayeed commented on #43
@andrepo The markup text has nothing to do with how mentions are rendered it is there for the developer so that they can use it with some other package like [flutter_parsed_text](www.github.com/fayeed/flutter_parsed_text), internally when you type anything or the text property is updated we run a function that goes in the Mentions array and finds a match for the `@____` keyword and renders the men

[2021-05-19 05:10] chainchelliah opened #46 "Support for flutter v2.2.0"
Hi,
After upgrading the flutter version to 2.2.0, I got the below error.

../../Software/FlutterSdk/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_mentions-2.0.0-nullsafety/lib/src/annotation_editing_controller.dart:58:12: Error: The method 'AnnotationEditingController.buildTextSpan' has fewer named arguments than those of overridden method 'TextEditingController.buildTextSpan'.
  TextSpan bui

[2021-05-19 14:09] chainchelliah commented on #46
@fayeed I have raised PR. Could you please verify & merge it?. Would be really helpful.
Thanks.

[2021-05-24 07:47] fayeed commented on #46
@chainchelliah Published the new version `2.0.1`

[2021-05-24 07:47] #46 closed

[2021-06-10 15:00] 1AhmedYasser opened #51 "Suggestion list padding"
I want to be able to add left, right , bottom padding to the suggestion list view
![Simulator Screen Shot - iPhone 11 - 2021-06-10 at 16 58 47](https://user-images.githubusercontent.com/26207361/121548444-4e2eaf00-ca0d-11eb-9b31-3997615ed7f9.png)

[2021-06-17 07:13] vebbuilders opened #52 "is it possible to limit mention"

[2021-06-21 06:30] gadearaujo commented on #44
Unfortunately it didn't work for me, any other suggestions?

[2021-06-21 16:46] letungcntt commented on #44
Stable version ?

[2021-06-28 15:48] vasilich6107 opened #53 "example is not runnable for ios and android"
There is no `android` and `ios` folder inside `example`
Unable to run example

[2021-06-28 15:49] fayeed commented on #53
run `flutter create .` inside example folder

[2021-06-28 15:49] #53 closed, assigned to nobody

[2021-06-28 15:50] vasilich6107 commented on #53
Why should everyone run this instead of pushing and be ready to use?

[2021-06-28 15:54] vasilich6107 opened #54 "Generic mention"
`Mention` does not have generic parameter type
Something like `Mention<TData>` and accepts `Map<String, dynamic>` which does not allow to use code completion and static analysis inside `suggestionBuilder`

[2021-06-29 13:14] ardikon opened #55 "How to use validator??"
You can use the _formKey. currentState() method to access the FormState , which is automatically created by Flutter when building a Form . The FormState class contains the validate() method. When the validate() method is called, it runs the validator() function for each text field in the form, but here in flutter_mentions package you can not call validate , can someone tell me how to access the va

[2021-07-20 07:56] huusang2096 opened #56 "I dont know why suggest list show in front of "@""
i'm apply example to my project but i dont know why this happen
![Capture](https://user-images.githubusercontent.com/31203141/126283477-cba70b90-1415-4c50-b80c-3c72ec23bbe3.PNG)

[2021-07-20 08:46] huusang2096 commented on #56
@fayeed  i'm very happy if you give me suggest

[2021-08-30 01:50] ryanatev opened #59 "maxLines is not nullable"
Trying to use the expands property which states that both maxLines and minLines must be null.  Unfortunately I am unable to set maxLines to null.  It is not a nullable property.

[2021-09-08 04:24] kskthedeveloper opened #60 "Backspace issue in Flutter Web"
When I typed backspace in Flutter web.
1. 1st backspace -> The mention disappears and there is an error.
2. 2nd backspace -> It reappears and the last character is deleted.
![Screen Shot 2021-09-08 at 10 54 07](https://user-images.githubusercontent.com/20717365/132446295-bc95f915-961b-4dab-8738-78a67feac4cd.png)

[2021-11-11 23:10] jacobhtye commented on #5
Was this ever solved, I am having the same issue. I believe it is with the first where function which is causing a bad state no element exception

[2021-11-11 23:15] jacobhtye opened #62 "list.firstWhere throws error when using special characters"
When using special characters as a trigger, firstWhere throws an exception
<img width="491" alt="Screen Shot 2021-11-11 at 4 15 05 PM" src="https://user-images.githubusercontent.com/79712196/141382307-cd2778fa-b394-43dd-980d-69984e0b5093.png">
https://stackoverflow.com/questions/52354195/list-firstwhere-bad-state-no-element.

[2021-11-25 09:25] jordandevogelaere opened #66 "Readonly mention item"
Is it possible to make the mention readonly in the text?

I want to avoid people can edit a mention.

Thanks

[2021-12-02 10:51] bhanubbs opened #67 "How search is implemented?"
Like can we have our own custom search logic implemented in the plugin?
I have changed bunch of thing in plugin for my use case but couldn't figure out the search. Because I search for something and it doesn't come up in suggestionBuilder.

Here I'm searching for anand but after i type an it just disappear
Images fot reference
![messages_0](https://user-images.githubusercontent.com/92363650/144410

[2021-12-02 10:59] loic-hamdi opened #68 "maxLines type"
Hi,

` final int maxLines;` should be ` final int? maxLines;` because both `minLines` and `maxLines` need to be set to null when `expands: true`

[2021-12-05 07:06] AnuPrajapati opened #69 "Default Text Tagging"
Default text is not showing in annotation form... mainly for editing... Adding is going well, but for editing we have to pass the text in default text but I see the text is in normal "@[__12__](__abc__)" form.

[2021-12-11 08:41] saraljain12 commented on #32
facing the same issue it isn't working

[2022-01-10 15:15] luffynas opened #70 "Two Or More Of The Same Preposition Will Be Taken First"
Bug Regex:

## Simulation:
Suggestion User Name
[code]

##Bug
Tap `@Fayeed Pawaskar` on suggestion result will be `@Fay`

I suspect code in `RegExp('$_pattern'),` on file `AnnotationEditingController` line `71`

[2022-01-17 14:32] dorutInventiff commented on #13
How can I access the text giving the fact there is no controller parameter in the FlutterMentions? Like I want to assign a TextEditingController to the FlutterMentions. How can I do that with the key prop?

[2022-02-07 03:15] mukkoticf opened #71 "I have 2 same display Names with different id's. Now if i select these 2 display names, in markup text it is not able to differentiate"
{
                        'id': '61as61fsa',
                        'display': 'Fayeed P',
                        'full_name': 'Fayeed Pawaskar1',
                        'photo':
                            'https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
                      },
                      {
                        'id':

[2022-02-08 10:44] mukkoticf commented on #71
@mukkoticf

[2022-02-14 05:16] mukkoticf commented on #71
@fayeed can you please help here

[2022-02-21 10:32] harshit3105 opened #72 "need options to add fontsize, font colour & fontfamily."
In, this package there is one params ```fontSizeFactor``` which is not handy. So, request you to add ```fontSize```, ```fontColor```, ```fontFamily```.

Thank You.

[2022-02-24 05:55] VimeshPolaris opened #73 "Default Text is not working in flutter_mention"
I have successfully implemented this package : flutter_mentions: ^2.0.1
But the default text property is not working when we pass the value from the variable.

Ex:

String userName = 'Coder';

FlutterMentions(
.
.
.
                         defaultText: '${postTitleTextEditingController.text}',
.
.
.
 ),

[2022-03-03 09:48] VimeshPolaris opened #74 "can't clear Textediting cotroller"
After mentioning the people from the list I want to clear the text-editing controller,
but here, I can't find any property for that.

Anyone can help with that?

[2022-03-04 10:18] VimeshPolaris commented on #74
You could just set a key for the FlutterMention widget & then just use these two ways to clear the field.

Using the controller's clear method:
key.currentState.controller.clear();

Using the controller's text property:
key.currentState.controller.text = '';

[2022-03-04 10:18] #74 closed, assigned to nobody

[2022-03-04 10:19] #73 closed, assigned to nobody

[2022-03-09 07:52] UmairSaqibBhutta opened #75 "How can we use TextField instead of FlutterMentions for mention?"
I have a textfield of message where I want to use user mention feature but I have no option to use my predefined textfield.

[2022-03-13 10:10] Fnalsk opened #76 "allow passing textcontroller to FlutterMentions"
I want something like this:

[code]

Essentially I need the controller to be used in the decoration. The problem with this is that the `InputDecoration` builds first, so `_mentionsKey.currentState!` throws an exception saying null check operator used on null value. This wouldn't be a problem if I could just build the `TextEditingController` (or `AnnotationEditingController`) elsewhere, then simply

[2022-03-14 21:43] pitanni opened #77 "Is it possible to pass a list of mentions asynchronously?"
Could you pass te data list of Mentions async and that changes as the string changes?

[2022-03-20 10:29] pitanni commented on #77
Hi,
I developed it by putting it in bloc builder and updating the status of the list.
Now I have an overflow problem.
How can I make the list scrollable and not making it overflowed?

[2022-03-20 17:23] pitanni commented on #77
Hi,
excuse me.
I read the documentation thoroughly and solved it.

[2022-03-20 17:23] #77 closed, assigned to nobody

[2022-03-21 12:33] holkarsanyukta opened #80 "How To Show Asynchronous Data in the Flutter Mention List?"

[2022-04-26 10:59] pinguluk opened #82 "[Request] InkWell instead of GestureDetector for mentions"
When holding the mentions in the suggestion list, they should use the ripple effect

[2022-05-11 08:48] akonjuhi opened #83 "Multiply FlutterMention on a listviewbuilder"
When i trigger a mention on a listview i want to be able to loose the focus of mentions or hashtags after clicking on another textfield or flutter mention

[2022-05-30 16:21] omarGenius opened #85 "Selecting Mentions"
When pressing on mentions nothing happens and there is no way or method for selecting the mention[index]

[2022-06-15 12:59] ashut08 opened #86 "Could not find a Portal above this PortalEntry(portalAnchor: Alignment.topCenter, childAnchor: Alignment.bottomCenter, closeDuration: null, portal: ValueListenableBuilder<bool>, child: Row)."
════════ Exception caught by widgets library ═══════════════════════════════════
The following PortalNotFoundError<Portal> was thrown building
`PortalEntry(portalAnchor: Alignment.topCenter, childAnchor: Alignment.bottomCenter, closeDuration: null, portal: ValueListenableBuilder<bool>, child: Row, dirty, state: _PortalEntryState#fc696):`

[2022-06-15 13:13] #86 closed, assigned to nobody

[2022-06-16 06:50] ShehanTreineticOfficial commented on #36
is this fixed?

[2022-06-16 07:26] ShehanTreineticOfficial opened #87 "Dismiss the popup dialogue"
@fayeed Hi,
How to dismiss the popup dialog?
Lets say after I type @ popup dialogue will show, but if I doesn't select and press comment submit button that popup won't go away. Also when I scroll the screen popup up won't dismiss. Is there any method for dismiss the dialogue?

I tried with hideSuggestionList attribute, but it won't work since I need to call dismiss separately.

Waiting for your an

[2022-06-17 14:19] florian-sabonchi opened #88 "NoSuchMethodError: the Method 'toLowerCase' was called on null"
![photo_2022-06-17_16-19-23](https://user-images.githubusercontent.com/54689374/174316724-90586e7c-eae0-407c-87f8-6e0d4c8a94e4.jpg)

[2022-06-17 19:31] florian-sabonchi opened #89 "Feature suggestionListWidth"
Hello what do you think to add a property for suggestionListWidth to adjust the width of the mention suggestion

[2022-06-23 14:09] ebrahim2222 commented on #88
did you solve it ??

[2022-06-27 06:04] VimeshPolaris opened #90 "Change the mention text Color"
Why all mentioned text colors are different,
How to fix color for Mention text,

I have already set the color for mentioned text,
[code]

![Screenshot 2022-06-27 at 11 29 51 AM](https://user-images.githubusercontent.com/95465974/175870026-fe030c44-b91a-4387-9c12-6b32a5ba7547.png)

[2022-08-08 11:40] ashut08 commented on #80
Here is the code which i using in one of my projects .

[code]

[2022-08-11 09:28] Rutu-02 opened #91 "How we can implement pagination on mention list?"

[2022-08-11 12:37] ashut08 commented on #43
@robinwkurtz @andrepo  have you find any solution till now?

[2022-08-18 04:09] amr1tv1rd1 commented on #80
Thanks, it worked like a charm 👍

[2022-08-18 16:15] amr1tv1rd1 commented on #85
@omarGenius - Did you find any solution for this? I am looking for the same.

[2022-08-25 13:06] ashut08 opened #93 "How we can implement custom hashatag which is not in hashTagList?"
As per now this plugin fetch **hashtag** from existing **hashtag list data** suppose user want to add some **custom hashtag** then how this can be done?

[2022-09-15 04:22] holkarsanyukta commented on #80
Thank you for this.

[2022-09-20 18:15] amr1tv1rd1 opened #94 "Suggestion not being added on tapping"
I am trying the example shared in Readme.md. When I tap on a suggestion, nothing happens. It is not added to the text. Is it a bug or am I missing something ?

[2022-09-23 09:38] asifakhtar98 commented on #94
@fayeed Mention Selection not working after certain time, also have miss selection issue, selecting one item select another item

[2022-10-05 17:27] Daliseiy commented on #88
This error occurs when you fail to pass in display as a property in your data.  When passing your data, you need to provide two required properties id & display both are String. Example -
[code]

Excluding id or display will cause an error which is what you are experiencing.

[2022-10-10 05:27] amanokerim commented on #89
That would be easy to implement and very helpful feature.

[2022-10-12 12:38] KKTadena commented on #94
any update on this issue?

[2022-10-19 10:13] potecteodor commented on #94
Hello, I hope this isn't too late and maybe could help you. For me the fix was to move the Portal widget up in the widget tree. The issue for me was that I had scroll under the suggestions overlay and the tap was moving the scroll widget. So I moved the Portal a little higher and now it works

[2022-10-20 09:18] KKTadena opened #96 "Can't adjust width size"
Is there a way to limit the width size of the suggestions? (Like setting a width size or matching content width)
suggestionBuilder seems to be matching the screen width, adding a sizedbox/container width doesn't work.

goal: is to have a pop-up like suggestion box, instead of a full width suggestions

[2022-10-25 17:53] xlDownxl commented on #70
Critical Bug for me too.

[2022-10-26 21:56] amr1tv1rd1 commented on #94
This worked, moving Portal above everything else. Thank you so much, you are a lifesaver.

[2022-10-26 21:58] #94 closed, assigned to nobody

[2022-10-27 04:27] amr1tv1rd1 commented on #69
Did you find any solution for this?

[2022-11-02 18:26] amr1tv1rd1 commented on #43
Looking for the same.

[2022-11-08 06:45] thecaptainXgod commented on #59
Same here, it should be an easy task. Please add nullable.